<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {{title}}
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css" />
</head>
{{content}}
            <div class="col side_panel">
                <h1>Ian <span>E</span> <span>Mayes</span></h1>
                <img src="./img/ian_mayes_profile.jpg" class="img-fluid rounded-circle" />

                <div class="nav flex-column nav-pills blue-nav">
                    {{active_link}}
                </div>

                <div class="blue_buttons">
                    <p>
                        <a href="#" class="btn btn-blue btn-lg"><i class="fab fa-github"></i> GitHub</a>
                        <a href="#" class="btn btn-blue btn-lg"><i class="fab fa-twitter"></i> Twitter</a>
                    </p>
                    <p>
                        <a href="#" class="btn btn-blue btn-lg"><i class="fab fa-linkedin"></i> LinkedIn</a>
                        <a href="#" class="btn btn-blue btn-lg"><i class="fab fa-npm"></i> NPM</a>
                    </p>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>&copy; 2020 Ian E Mayes -
                    <a href="/articles/site-terms-service/">Terms of Service</a> -
                    <a href="/articles/site-privacy-policy/">Privacy Policy</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>