
            <div class="col side_panel">
                <h1>Ian <span>E</span> <span>Mayes</span></h1>
                <img src="./ian_mayes_profile.jpg" class="img-fluid rounded-circle" />

                <div class="nav flex-column nav-pills blue-nav">
                    <a class="nav-link active" href="index.html"><i class="fas fa-code"></i> Blog</a>
                    <a class="nav-link" href="hw1_projects_page.html" ><i class="fab fa-linode"></i> Resume</a>
                    <a class="nav-link" href="hw1_about_page.html"><i class="far fa-address-book"></i> About</a>
                </div>

                <div class="blue_buttons">
                    <p>
                        <a href="#" class="btn btn-blue btn-lg"><i class="fab fa-github"></i> GitHub</a>
                        <a href="#" class="btn btn-blue btn-lg"><i class="fab fa-twitter"></i> Twitter</a>
                    </p>
                    <p>
                        <a href="#" class="btn btn-blue btn-lg"><i class="fab fa-linkedin"></i> LinkedIn</a>
                        <a href="#" class="btn btn-blue btn-lg"><i class="fab fa-npm"></i> NPM</a>
                    </p>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>&copy; 2020 Ian E Mayes -
                    <a href="/articles/site-terms-service/">Terms of Service</a> -
                    <a href="/articles/site-privacy-policy/">Privacy Policy</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>